h1 {
	font-weight: 700;
	font-size: 1.125rem;
}

h2 {
	font-weight: 600;
	font-size: 0.9375rem;
}

p {
	font-weight: 500;
	font-size: 0.875rem;
}

span {
	font-weight: 400;
	font-size: 0.875rem;
}

b {
	font-weight: 700;
	font-size: 0.875rem;
}
