// .p-float-label > label {
//     left: nth($inputPadding, 2);
//     color: $inputPlaceholderTextColor;
//     transition-duration: $transitionDuration;
// }

// .p-float-label > .ng-invalid.ng-dirty + label {
//     color: $inputErrorBorderColor;
// }

.p-float-label {
    & input:focus ~ label,
    & input.p-filled ~ label {
        top: 0;
        font-size: 0.75rem;
        background-color: white;
        padding-inline: 0.25rem;
    }
}
