<section class="Sidebar-header">
    <img src="/assets/svg/imagotipo.svg" alt="Hola ketal" />
</section>

<ul role="navigation" class="Sidebar-menu">
    <li>Home</li>
    <li>Foro</li>
    <li>Obras sociales</li>
    <li>Cuenta</li>
    <li>Mensaje directo</li>
    <li>Home</li>
    <li>Foro</li>
    <li>Obras sociales</li>
    <li>Cuenta</li>
    <li>Mensaje directo</li>
    <li>Home</li>
    <li>Foro</li>
    <li>Obras sociales</li>
    <li>Cuenta</li>
    <li>Mensaje directo</li>
</ul>

<footer class="Sidebar-footer">
    <section>Perfil</section>
    <section>Logout</section>
</footer>
