// COLORS ===============================================
// Main Palette
$main1Color: #2a356d;
$accentColor: #73e1ce;
$accent2Color: #c1f3ee;
$bgPageColor: #f6f6f4;
$neutralWhiteColor: #ffffff;
$neutralGrayColor: #eaebf0;
$pressedButtonColor: #41e8ca;
$medicosColor: #a2e99a;
$main2Color: #02baba;

// Gray Palette
$darkCharcoalColor: #333333;
$philippineGrayColor: #888888;
$brightGrayColor: #cccccc;
$toastColor: #6d6d6d;

// Others
$errorColor1: #ff5a5a;
$tip1Color: #fddd8c;
$tip2Color: #ffdfea;
$tip3Color: #c7f4c2;
// =======================================================

